setuptools==57.5.0
certifi==2021.5.30
-e git+git@github.com:mueller-seb/conrad.git@a17808675eca6500d93b5b6844e74ed177286538#egg=conrad
cvxpy==1.1.15
cycler==0.10.0
ecos==2.0.7.post1
kiwisolver==1.3.2
matplotlib==3.4.3
nose==1.3.7
numpy==1.21.2
osqp==0.6.2.post0
Pillow==8.3.2
pyparsing==2.4.7
python-dateutil==2.8.2
PyYAML==5.4.1
qdldl==0.1.5.post0
scipy==1.7.1
scs==2.1.4
six==1.16.0
